<!DOCTYPE html>
<html>
<head>
    <title>Core</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav>
    <a href ="/">Home</a>
    <a href ="/credits">Credits</a>
    <a href ="/quizzes">Quizzes</a>
</nav>
<h1>Prueba</h1>
<div> <%- body %> </div>





</body>
</html>