<h1>Quizzes</h1>

<table>
    <% for (let quiz of quizzes) {%>
    <tr>
        <td>
            Pregunta numero: <%= quiz.id %> -> <%= quiz.question %>
        </td>
    </tr>
    <% }%>
</table>